* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

body {
  font-family: "Gordita Regular";
  font-size: 17px;
  color: #0b0a0a;
  overflow-x: hidden;
  min-width: 320px;
  font-weight: 500;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Gordita Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/gordita/Gordita Regular.woff") format("woff");
}
@font-face {
  font-family: "Gordita Thin";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/gordita/Gordita Thin.woff") format("woff");
}
@font-face {
  font-family: "Gordita Light";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/gordita/Gordita Light.woff") format("woff");
}
@font-face {
  font-family: "Gordita Medium";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/gordita/Gordita Medium.woff") format("woff");
}
@font-face {
  font-family: "Gordita Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/gordita/Gordita Bold.woff") format("woff");
}
@font-face {
  font-family: "Gordita Ultra";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/gordita/Gordita Ultra.woff") format("woff");
}
input,
textarea,
select {
  font-family: "Gordita Regular";
  font-weight: 500;
}

a {
  color: #0b0a0a;
}

p {
  line-height: 1.6em;
  font-size: 16px;
  font-family: "Gordita Regular";
  font-weight: 500;
  color: #0b0a0a;
}

.hidden {
  display: none;
}

br.clear {
  clear: both;
  line-height: 0;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-size: 94px;
}

h2 {
  font-size: 74px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 12px;
}

.no_margin {
  margin-right: 0 !important;
}

header div.header-top {
  padding: 15px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background: #fff;
  width: 100%;
  z-index: 1;
  max-width: 1500px;
}
header div.header-top h1.left {
  width: 80px;
}
header div.header-top nav.right {
  display: flex;
  align-items: center;
  gap: 70px;
}
header div.header-top nav.right a {
  font-family: "Gordita Medium";
  color: grey;
  position: relative;
}
header div.header-top nav.right a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #000;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
header div.header-top nav.right a:hover {
  color: #000;
}
header div.header-top nav.right a:hover::after {
  width: 100%;
}
header div.header-top nav.right button.login-button {
  padding: 12px 24px;
  background: #050ee7;
  border-radius: 30px;
  font-family: "Gordita Medium";
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}
header div.header-top div#menu-icon {
  display: none;
}
header div#menu {
  display: none;
}
header div#menu.active {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: rgba(255, 255, 255, 0.062745098);
}
header div#menu a {
  font-family: "Gordita Medium";
  color: grey;
  position: relative;
}
header div#menu a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #000;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
header div#menu a:hover {
  color: #000;
}
header div#menu a:hover::after {
  width: 100%;
}
header div#menu button.login-button {
  padding: 12px 24px;
  background: #050ee7;
  border-radius: 30px;
  font-family: "Gordita Medium";
  color: #fff;
  cursor: pointer;
}

#spotlight {
  padding: 200px 0 0 0;
}
#spotlight div.top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#spotlight div.top div.top-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#spotlight div.top div.top-left span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
#spotlight div.top div.top-left span div.icon {
  width: 20px;
}
#spotlight div.top div.top-left span p {
  color: #050ee7;
  font-family: "Gordita Medium";
  font-size: 18px;
}
#spotlight div.top div.top-left h2 {
  font-family: "Gordita Bold";
  font-size: 45px;
}
#spotlight div.top div.top-left h2 span {
  color: #050ee7;
  display: inline-block;
}
#spotlight div.top div.top-left p {
  font-size: 15px;
  font-family: "Gordita Medium";
  color: #898989;
}
#spotlight div.top div.top-left div.input-container {
  width: 90%;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 4px 7px 67px 5px rgba(217, 219, 251, 0.64);
}
#spotlight div.top div.top-left div.input-container input {
  font-family: "Gordita Medium";
  color: #898989;
  font-size: 15px;
}
#spotlight div.top div.top-left div.input-container button {
  padding: 15px 30px;
  background: #050ee7;
  border-radius: 10px;
  font-family: "Gordita Medium";
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}
#spotlight div.top div.top-right {
  width: 50%;
  display: flex;
  gap: 10px;
}
#spotlight div.top div.top-right div.spotlight-image {
  width: 160px;
}
#spotlight div.top div.top-right div.spotlight-image.middle {
  transform: translateY(80px);
}
#spotlight div.top div.top-right div.spotlight-image img {
  border-radius: 20px;
}
#spotlight div.bottom {
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#spotlight div.bottom h5 {
  font-size: 15px;
  font-family: "Gordita Medium";
  color: #898989;
  padding-top: 10px;
  border-top: 2px solid #898989;
}
#spotlight div.bottom ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
#spotlight div.bottom ul li {
  width: 100px;
}

#achieve {
  background: #f4f5fa;
  padding: 50px 0;
}
#achieve .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#achieve .wrapper div.left {
  width: 28%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#achieve .wrapper div.left h5 {
  color: #898989;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Gordita Medium";
}
#achieve .wrapper div.left h3 {
  font-size: 30px;
  font-family: "Gordita Bold";
  width: 90%;
}
#achieve .wrapper div.middle {
  width: 28%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}
#achieve .wrapper div.middle div.image {
  width: 100px;
  padding: 20px;
  background: #9747ff;
  border-radius: 50px;
}
#achieve .wrapper div.middle div.image img {
  filter: invert(1);
}
#achieve .wrapper div.middle div.text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#achieve .wrapper div.middle div.text h4 {
  color: #000;
  font-size: 20px;
  font-family: "Gordita Medium";
}
#achieve .wrapper div.middle div.text p {
  color: #898989;
  font-size: 13px;
  font-family: "Gordita Medium";
}
#achieve .wrapper div.right {
  width: 28%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}
#achieve .wrapper div.right div.image {
  width: 100px;
  padding: 20px;
  background: #ee2a52;
  border-radius: 50px;
}
#achieve .wrapper div.right div.image img {
  filter: invert(1);
}
#achieve .wrapper div.right div.text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#achieve .wrapper div.right div.text h4 {
  color: #000;
  font-size: 20px;
  font-family: "Gordita Medium";
}
#achieve .wrapper div.right div.text p {
  color: #898989;
  font-size: 13px;
  font-family: "Gordita Medium";
}

#help {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  text-align: center;
}
#help div.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#help div.top h2 {
  font-size: 50px;
  font-family: "Gordita Bold";
  width: 80%;
}
#help div.top p {
  color: #898989;
  font-size: 15px;
  font-family: "Gordita Medium";
}
#help ul.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
#help ul.middle li {
  background: #f0eeee;
  border-radius: 10px;
  width: 25%;
  text-align: center;
  padding: 50px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#help ul.middle li div.icon {
  width: 80px;
  padding: 20px;
  border-radius: 55px;
}
#help ul.middle li div.search {
  background: #9747ff;
}
#help ul.middle li div.settings {
  background: #ee2a52;
}
#help ul.middle li div.rocket {
  background: #f0d159;
}
#help ul.middle li h5 {
  font-size: 18px;
  font-family: "Gordita Medium";
}
#help ul.middle li p {
  font-size: 13px;
  width: 70%;
  font-family: "Gordita Medium";
  color: #898989;
}
#help div.bottom {
  display: flex;
  justify-content: center;
}
#help div.bottom button {
  padding: 15px 30px;
  background: #050ee7;
  border-radius: 10px;
  font-family: "Gordita Medium";
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

#schedule {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
#schedule div.left {
  width: 50%;
}
#schedule div.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#schedule div.right h6 {
  color: #ffb15f;
  font-size: 15px;
  font-family: "Gordita Medium";
  text-transform: uppercase;
}
#schedule div.right h4 {
  font-size: 30px;
  font-family: "Gordita Medium";
  width: 80%;
  margin-bottom: 20px;
}
#schedule div.right p {
  font-size: 15px;
  font-family: "Gordita Medium";
  color: #898989;
  width: 80%;
  margin-bottom: 20px;
}
#schedule div.right div.learn-more {
  display: flex;
  align-items: center;
  gap: 10px;
}
#schedule div.right div.learn-more span {
  font-family: "Gordita Medium";
  color: #050ee7;
}
#schedule div.right div.learn-more div.icon {
  width: 20px;
}

#monitor {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
#monitor div.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#monitor div.left h6 {
  color: #ffb15f;
  font-size: 15px;
  font-family: "Gordita Medium";
  text-transform: uppercase;
}
#monitor div.left h4 {
  font-size: 30px;
  font-family: "Gordita Medium";
  width: 80%;
  margin-bottom: 20px;
}
#monitor div.left p {
  font-size: 15px;
  font-family: "Gordita Medium";
  color: #898989;
  width: 80%;
  margin-bottom: 20px;
}
#monitor div.left div.learn-more {
  display: flex;
  align-items: center;
  gap: 10px;
}
#monitor div.left div.learn-more span {
  font-family: "Gordita Medium";
  color: #050ee7;
}
#monitor div.left div.learn-more div.icon {
  width: 20px;
}
#monitor div.right {
  width: 50%;
}

#pricing {
  background: #e9fbfd;
  padding: 80px 0;
  position: relative;
}
#pricing div.price-container {
  background: #fff;
  width: 50%;
  padding: 40px 0;
  margin: 0 auto;
  border-radius: 5px;
}
#pricing div.price-container h4 {
  font-size: 25px;
  color: #06085f;
  text-align: center;
  font-family: "Gordita Medium";
  margin-bottom: 30px;
}
#pricing div.price-container div.top {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
#pricing div.price-container div.top div.price-details h6 {
  font-size: 15px;
  color: #898989;
  font-family: "Gordita Medium";
  margin-bottom: 10px;
}
#pricing div.price-container div.top div.price-details h4 {
  font-size: 25px;
  color: #020331;
  font-family: "Gordita Bold";
}
#pricing div.price-container div.bottom {
  width: 80%;
  margin: 0 auto;
}
#pricing div.price-container div.bottom h5 {
  font-size: 15px;
  color: #898989;
  font-family: "Gordita Medium";
  margin-bottom: 10px;
}
#pricing div.price-container div.bottom div.price-slider {
  background: #020331;
  width: 100%;
  height: 15px;
  border-radius: 10px;
}
#pricing div.price-container div.bottom div.price-slider div.price-slider-circle {
  background: #fff;
  height: 16px;
  width: 16px;
  border-radius: 50px;
  margin-left: 150px;
}
#pricing div.pricing-input-container {
  background-color: #fff;
  box-shadow: 10px 7px 10px #898989;
  width: 40%;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  border-radius: 15px;
  position: absolute;
  bottom: 30px;
  right: 200px;
}
#pricing div.pricing-input-container input {
  width: 50%;
  border: none;
  font-family: "Gordita Medium";
}
#pricing div.pricing-input-container button {
  padding: 15px 30px;
  background: #050ee7;
  border-radius: 10px;
  font-family: "Gordita Medium";
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

#service {
  padding: 80px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
#service div.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#service div.left h1 {
  font-size: 35px;
  width: 80%;
  font-family: "Gordita Medium";
}
#service div.left p {
  font-size: 14px;
  font-family: "Gordita Medium";
  width: 75%;
  color: #898989;
}
#service div.left div.details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
#service div.left div.details div.details-icon {
  background: #4d46c7;
  width: 35px;
  height: 35px;
  border-radius: 20px;
  padding: 5px;
}
#service div.left div.details div.details-icon img {
  filter: invert(1);
}
#service div.left div.details span {
  font-size: 12px;
  color: #898989;
  font-family: "Gordita Medium";
}
#service div.left button {
  padding: 15px 30px;
  background: #050ee7;
  border-radius: 25px;
  font-family: "Gordita Medium";
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  width: 200px;
}
#service ul.right {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#service ul.right li {
  width: 50%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#service ul.right li div.icon {
  width: 55px;
}
#service ul.right li h6 {
  font-size: 20px;
  font-family: "Gordita Medium";
}
#service ul.right li p {
  font-size: 15px;
  width: 75%;
}
#service ul.right li a {
  font-size: 12px;
  font-family: "Gordita Medium";
  color: #9747ff;
  text-transform: uppercase;
}

#testimonials {
  padding: 20px 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#testimonials div.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
#testimonials div.top h3 {
  font-size: 34px;
  font-family: "Gordita Medium";
}
#testimonials div.top h6 {
  font-size: 15px;
  margin-bottom: 50px;
}
#testimonials ul.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
#testimonials ul.bottom li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 25%;
}
#testimonials ul.bottom li div.profile {
  width: 80px;
}
#testimonials ul.bottom li div.profile img {
  border-radius: 50px;
}
#testimonials ul.bottom li ul.starbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#testimonials ul.bottom li ul.starbox li.star {
  width: 15px;
}
#testimonials ul.bottom li h6 {
  font-size: 20px;
  font-family: "Gordita Medium";
}
#testimonials ul.bottom li p {
  font-size: 13px;
  text-align: center;
  color: #898989;
}

#subscribe {
  padding: 100px 80px;
}
#subscribe div.container {
  background: #4d53e5;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border-radius: 20px;
}
#subscribe div.container div.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#subscribe div.container div.left h4 {
  font-family: "Gordita Medium";
  font-size: 30px;
  color: #fff;
}
#subscribe div.container div.left h6 {
  font-size: 15px;
  color: #fff;
  text-align: center;
  width: 70%;
}
#subscribe div.container div.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  width: 45%;
  height: 50px;
  border-radius: 10px;
  padding-left: 15px;
}
#subscribe div.container div.right button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background: #2fb552;
  padding: 13px 13px 13px 30px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #fff;
  font-size: 15px;
  gap: 10px;
}
#subscribe div.container div.right button div.arrow {
  width: 25px;
  background: #fff;
  border-radius: 5px;
  padding: 5px;
}

footer {
  background: #f8f8f8;
  padding: 100px 0 20px 0;
}
footer div.top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 50px;
}
footer div.top div.top-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 25%;
}
footer div.top div.top-left div.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
footer div.top div.top-left div.logo a {
  width: 30px;
  cursor: pointer;
}
footer div.top div.top-left div.logo span {
  font-family: "Gordita Medium";
  font-size: 20px;
}
footer div.top div.top-left p {
  font-family: "Gordita Medium";
  font-size: 15px;
  color: #898989;
  width: 80%;
}
footer div.top ul.top-right {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 100px;
}
footer div.top ul.top-right li {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer div.top ul.top-right li h5 {
  font-family: "Gordita Medium";
  font-size: 20px;
}
footer div.top ul.top-right li a {
  font-size: 15px;
  font-family: "Gordita Medium";
  color: #898988;
  cursor: pointer;
}
footer div.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #898989;
  padding-top: 20px;
}
footer div.bottom p {
  font-size: 15px;
  font-family: "Gordita Medium";
  color: #898988;
}

@media all and (max-width: 980px) {
  header div.header-top h1.left {
    width: 50px;
  }
  header div.header-top nav.right {
    gap: 50px;
  }
  header div.header-top nav.right a {
    font-size: 14px;
  }
  header div.header-top nav.right button.login-button {
    padding: 10px 20px;
    font-size: 14px;
  }
  #spotlight {
    padding: 150px 0 0 0;
  }
  #spotlight div.top div.top-left {
    gap: 30px;
  }
  #spotlight div.top div.top-left h2 {
    font-size: 35px;
  }
  #spotlight div.top div.top-left p {
    font-size: 13px;
  }
  #spotlight div.top div.top-left div.input-container {
    padding: 10px;
  }
  #spotlight div.top div.top-left div.input-container input {
    font-size: 14px;
  }
  #spotlight div.top div.top-left div.input-container button {
    padding: 12px 24px;
    font-size: 14px;
  }
  #spotlight div.top div.top-right div.spotlight-image {
    width: 125px;
  }
  #spotlight div.top div.top-right div.spotlight-image.middle {
    transform: translateY(62px);
  }
  #spotlight div.bottom {
    padding: 50px 0;
  }
  #spotlight div.bottom h5 {
    font-size: 13px;
  }
  #spotlight div.bottom ul {
    gap: 20px;
  }
  #spotlight div.bottom ul li {
    width: 75px;
  }
  #achieve {
    padding: 40px 0;
  }
  #achieve .wrapper div.left {
    width: 25%;
  }
  #achieve .wrapper div.left h5 {
    font-size: 15px;
  }
  #achieve .wrapper div.left h3 {
    font-size: 22px;
  }
  #achieve .wrapper div.middle {
    width: 35%;
  }
  #achieve .wrapper div.middle div.image {
    width: 70px;
    padding: 12px;
  }
  #achieve .wrapper div.middle div.text h4 {
    font-size: 18px;
  }
  #achieve .wrapper div.middle div.text p {
    font-size: 12px;
  }
  #achieve .wrapper div.right {
    width: 35%;
  }
  #achieve .wrapper div.right div.image {
    width: 70px;
    padding: 12px;
  }
  #achieve .wrapper div.right div.text h4 {
    font-size: 18px;
  }
  #achieve .wrapper div.right div.text p {
    font-size: 12px;
  }
  #help {
    padding: 60px 0;
    gap: 40px;
  }
  #help div.top h2 {
    font-size: 40px;
  }
  #help div.top p {
    font-size: 13px;
  }
  #help ul.middle {
    gap: 40px;
  }
  #help ul.middle li {
    width: 30%;
    padding: 40px 10px;
  }
  #help ul.middle li div.icon {
    width: 75px;
    padding: 15px;
  }
  #subscribe {
    padding: 80px 70px;
  }
  #subscribe div.container {
    padding: 45px;
    gap: 30px;
  }
  #subscribe div.container div.left h4 {
    font-size: 25px;
  }
  #subscribe div.container div.left h6 {
    font-size: 12px;
    width: 85%;
  }
  #subscribe div.container div.right {
    width: 53%;
    height: 51px;
  }
  footer {
    padding: 75px 0 20px 0;
  }
  footer div.top div.top-left div.logo span {
    font-size: 19px;
  }
  footer div.top div.top-left p {
    font-size: 14px;
  }
  footer div.top ul.top-right {
    gap: 60px;
  }
  footer div.top ul.top-right li h5 {
    font-size: 18px;
  }
  footer div.top ul.top-right li a {
    font-size: 14px;
  }
  footer div.bottom p {
    font-size: 14px;
  }
}
@media all and (max-width: 768px) {
  header div.header-top h1.left {
    width: 50px;
  }
  header div.header-top nav.right {
    gap: 30px;
  }
  header div.header-top nav.right a {
    font-size: 12px;
  }
  header div.header-top nav.right button.login-button {
    padding: 10px 20px;
    font-size: 12px;
  }
  #spotlight {
    padding: 120px 0 0 0;
  }
  #spotlight div.top div.top-left {
    gap: 30px;
  }
  #spotlight div.top div.top-left span div.icon {
    width: 15px;
    margin-bottom: 5px;
  }
  #spotlight div.top div.top-left span p {
    font-size: 12px;
  }
  #spotlight div.top div.top-left h2 {
    font-size: 25px;
  }
  #spotlight div.top div.top-left p {
    font-size: 12px;
  }
  #spotlight div.top div.top-left div.input-container {
    padding: 10px;
  }
  #spotlight div.top div.top-left div.input-container input {
    font-size: 12px;
  }
  #spotlight div.top div.top-left div.input-container button {
    padding: 10px 20px;
    font-size: 12px;
  }
  #spotlight div.top div.top-right div.spotlight-image {
    width: 100px;
  }
  #spotlight div.top div.top-right div.spotlight-image.middle {
    transform: translateY(50px);
  }
  #spotlight div.bottom {
    padding: 50px 0;
  }
  #spotlight div.bottom h5 {
    font-size: 10px;
  }
  #spotlight div.bottom ul {
    gap: 20px;
  }
  #spotlight div.bottom ul li {
    width: 60px;
  }
  #achieve {
    padding: 40px 0;
  }
  #achieve .wrapper div.left {
    width: 25%;
  }
  #achieve .wrapper div.left h5 {
    font-size: 13px;
  }
  #achieve .wrapper div.left h3 {
    font-size: 17px;
  }
  #achieve .wrapper div.middle {
    width: 35%;
  }
  #achieve .wrapper div.middle div.image {
    width: 60px;
    padding: 10px;
  }
  #achieve .wrapper div.middle div.text h4 {
    font-size: 15px;
  }
  #achieve .wrapper div.middle div.text p {
    font-size: 10px;
  }
  #achieve .wrapper div.right {
    width: 35%;
  }
  #achieve .wrapper div.right div.image {
    width: 60px;
    padding: 10px;
  }
  #achieve .wrapper div.right div.text h4 {
    font-size: 15px;
  }
  #achieve .wrapper div.right div.text p {
    font-size: 10px;
  }
  #help {
    padding: 60px 0;
    gap: 40px;
  }
  #help div.top h2 {
    font-size: 35px;
  }
  #help div.top p {
    font-size: 10px;
  }
  #help ul.middle {
    gap: 30px;
  }
  #help ul.middle li {
    width: 30%;
    padding: 30px 10px;
  }
  #help ul.middle li div.icon {
    width: 60px;
    padding: 15px;
  }
  #help ul.middle li h5 {
    font-size: 14px;
  }
  #help ul.middle li p {
    font-size: 10px;
    width: 90%;
  }
  #help div.bottom button {
    padding: 12px 24px;
    font-size: 12px;
  }
  #schedule {
    padding: 50px 0;
    gap: 50px;
  }
  #schedule div.right {
    gap: 15px;
  }
  #schedule div.right h6 {
    font-size: 13px;
  }
  #schedule div.right h4 {
    font-size: 19px;
    width: 90%;
    margin-bottom: 10px;
  }
  #schedule div.right p {
    font-size: 12px;
    width: 90%;
    margin-bottom: 10px;
  }
  #schedule div.right div.learn-more span {
    font-size: 12px;
  }
  #monitor {
    padding: 50px 0;
  }
  #monitor div.left {
    gap: 15px;
  }
  #monitor div.left h6 {
    font-size: 13px;
  }
  #monitor div.left h4 {
    font-size: 19px;
    width: 90%;
    margin-bottom: 10px;
  }
  #monitor div.left p {
    font-size: 12px;
    width: 90%;
    margin-bottom: 10px;
  }
  #monitor div.left div.learn-more span {
    font-size: 12px;
  }
  #pricing {
    padding: 50px 0;
  }
  #pricing div.price-container {
    width: 70%;
  }
  #pricing div.price-container div.top {
    display: flex;
    justify-content: space-between;
    width: 70%;
  }
  #pricing div.pricing-input-container {
    width: 50%;
    padding: 10px;
    bottom: 10px;
    right: 80px;
  }
  #pricing div.pricing-input-container button {
    padding: 12px 24px;
    font-size: 13px;
  }
  #service {
    padding: 50px 0;
  }
  #service div.left h1 {
    font-size: 30px;
    width: 90%;
  }
  #service div.left p {
    font-size: 12px;
    width: 90%;
  }
  #service div.left button {
    padding: 10px 20px;
    font-size: 14px;
    width: 160px;
  }
  #service ul.right li {
    width: 48%;
    margin-bottom: 25px;
    gap: 15px;
  }
  #service ul.right li div.icon {
    width: 50px;
  }
  #service ul.right li h6 {
    font-size: 19px;
  }
  #service ul.right li p {
    font-size: 13px;
    width: 100%;
  }
  #testimonials ul.bottom li {
    width: 30%;
  }
  #subscribe {
    padding: 80px 5%;
  }
  #subscribe div.container {
    padding: 10% 5%;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
  }
  #subscribe div.container div.left h4 {
    font-size: 20px;
  }
  #subscribe div.container div.left h6 {
    font-size: 11px;
  }
  #subscribe div.container div.right {
    height: auto;
  }
  #subscribe div.container div.right input {
    font-size: 11px;
  }
  #subscribe div.container div.right button {
    font-size: 11px;
  }
  #subscribe div.container div.right button div.arrow {
    width: 20px;
  }
  footer {
    padding: 50px 0 20px 0;
  }
  footer div.top div.top-left {
    width: 30%;
  }
  footer div.top div.top-left div.logo span {
    font-size: 15px;
  }
  footer div.top div.top-left p {
    font-size: 11px;
    width: 90%;
  }
  footer div.top ul.top-right {
    width: 60%;
    gap: 40px;
  }
  footer div.top ul.top-right li h5 {
    font-size: 15px;
  }
  footer div.top ul.top-right li a {
    font-size: 11px;
  }
  footer div.bottom p {
    font-size: 11px;
  }
}
@media all and (max-width: 640px) {
  header div.header-top h1.left {
    width: 50px;
  }
  header div.header-top nav.right {
    gap: 20px;
  }
  header div.header-top nav.right a {
    font-size: 10px;
  }
  header div.header-top nav.right button.login-button {
    padding: 8px 16px;
    font-size: 10px;
  }
  #spotlight {
    padding: 120px 0 0 0;
  }
  #spotlight div.top div.top-left {
    gap: 20px;
  }
  #spotlight div.top div.top-left span {
    gap: 5px;
  }
  #spotlight div.top div.top-left span div.icon {
    width: 12px;
    margin-bottom: 2px;
  }
  #spotlight div.top div.top-left span p {
    font-size: 10px;
  }
  #spotlight div.top div.top-left h2 {
    font-size: 20px;
  }
  #spotlight div.top div.top-left p {
    font-size: 10px;
  }
  #spotlight div.top div.top-left div.input-container {
    padding: 10px;
  }
  #spotlight div.top div.top-left div.input-container input {
    font-size: 10px;
  }
  #spotlight div.top div.top-left div.input-container button {
    padding: 10px;
    font-size: 10px;
  }
  #spotlight div.top div.top-right div.spotlight-image {
    width: 100px;
  }
  #spotlight div.top div.top-right div.spotlight-image.middle {
    transform: translateY(45px);
  }
  #spotlight div.bottom {
    padding: 50px 0;
  }
  #spotlight div.bottom h5 {
    font-size: 9px;
  }
  #spotlight div.bottom ul {
    gap: 15px;
  }
  #spotlight div.bottom ul li {
    width: 50px;
  }
  #achieve {
    padding: 40px 0;
  }
  #achieve .wrapper div.left {
    width: 25%;
    gap: 10px;
  }
  #achieve .wrapper div.left h5 {
    font-size: 10px;
  }
  #achieve .wrapper div.left h3 {
    font-size: 15px;
  }
  #achieve .wrapper div.middle {
    width: 35%;
  }
  #achieve .wrapper div.middle div.image {
    width: 50px;
    padding: 10px;
  }
  #achieve .wrapper div.middle div.text {
    gap: 5px;
  }
  #achieve .wrapper div.middle div.text h4 {
    font-size: 13px;
  }
  #achieve .wrapper div.middle div.text p {
    font-size: 8px;
  }
  #achieve .wrapper div.right {
    width: 35%;
  }
  #achieve .wrapper div.right div.image {
    width: 50px;
    padding: 10px;
  }
  #achieve .wrapper div.right div.text {
    gap: 5px;
  }
  #achieve .wrapper div.right div.text h4 {
    font-size: 13px;
  }
  #achieve .wrapper div.right div.text p {
    font-size: 8px;
  }
  #help {
    padding: 60px 0;
    gap: 40px;
  }
  #help div.top h2 {
    font-size: 30px;
  }
  #help div.top p {
    font-size: 9px;
  }
  #help ul.middle {
    gap: 20px;
  }
  #help ul.middle li {
    width: 30%;
    padding: 30px 10px;
  }
  #help ul.middle li div.icon {
    width: 60px;
    padding: 15px;
  }
  #help ul.middle li h5 {
    font-size: 14px;
  }
  #help ul.middle li p {
    font-size: 10px;
    width: 90%;
  }
  #help div.bottom button {
    padding: 10px 20px;
    font-size: 11px;
  }
  #schedule {
    padding: 50px 0;
    gap: 50px;
  }
  #schedule div.right {
    gap: 15px;
  }
  #schedule div.right h6 {
    font-size: 10px;
  }
  #schedule div.right h4 {
    font-size: 15px;
    width: 90%;
    margin-bottom: 10px;
  }
  #schedule div.right p {
    font-size: 10px;
    width: 90%;
    margin-bottom: 10px;
  }
  #schedule div.right div.learn-more span {
    font-size: 10px;
  }
  #schedule div.right div.learn-more div.icon {
    width: 15px;
  }
  #monitor {
    padding: 50px 0;
    padding: 50px 0;
    gap: 50px;
  }
  #monitor div.left {
    gap: 15px;
  }
  #monitor div.left h6 {
    font-size: 10px;
  }
  #monitor div.left h4 {
    font-size: 15px;
    width: 90%;
    margin-bottom: 10px;
  }
  #monitor div.left p {
    font-size: 10px;
    width: 90%;
    margin-bottom: 10px;
  }
  #monitor div.left div.learn-more span {
    font-size: 10px;
  }
  #monitor div.left div.learn-more div.icon {
    width: 15px;
  }
  #pricing {
    padding: 50px 0;
  }
  #pricing div.price-container {
    width: 70%;
  }
  #pricing div.price-container div.top {
    display: flex;
    justify-content: space-between;
    width: 70%;
  }
  #pricing div.price-container div.top div.price-details h4 {
    font-size: 20px;
    color: #020331;
    font-family: "Gordita Bold";
  }
  #pricing div.pricing-input-container {
    width: 50%;
    padding: 10px;
    bottom: 10px;
    right: 80px;
  }
  #pricing div.pricing-input-container button {
    padding: 12px 24px;
    font-size: 10px;
  }
  #service {
    padding: 50px 0;
  }
  #service div.left h1 {
    font-size: 25px;
    width: 90%;
  }
  #service div.left p {
    font-size: 10px;
    width: 90%;
  }
  #service div.left button {
    padding: 10px 20px;
    font-size: 12px;
    width: 160px;
  }
  #service div.left div.details div.details-icon {
    width: 25px;
    height: 25px;
  }
  #service div.left div.details span {
    font-size: 10px;
  }
  #service ul.right li {
    width: 48%;
    margin-bottom: 25px;
    gap: 15px;
  }
  #service ul.right li div.icon {
    width: 30px;
  }
  #service ul.right li h6 {
    font-size: 15px;
  }
  #service ul.right li p {
    font-size: 10px;
    width: 100%;
  }
  #service ul.right li a {
    font-size: 10px;
  }
  #testimonials div.top h3 {
    font-size: 25px;
  }
  #testimonials div.top h6 {
    font-size: 10px;
  }
  #testimonials ul.bottom {
    gap: 20px;
  }
  #testimonials ul.bottom li {
    width: 30%;
  }
  #testimonials ul.bottom li div.profile {
    width: 40%;
  }
  #testimonials ul.bottom li ul.starbox {
    gap: 5px;
  }
  #testimonials ul.bottom li ul.starbox li.star {
    width: 10px;
  }
  #testimonials ul.bottom li h6 {
    font-size: 15px;
  }
  #testimonials ul.bottom li p {
    font-size: 10px;
  }
  #subscribe {
    padding: 80px 5%;
  }
  #subscribe div.container {
    padding: 10% 5%;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
  }
  #subscribe div.container div.left h4 {
    font-size: 15px;
  }
  #subscribe div.container div.left h6 {
    font-size: 10px;
  }
  #subscribe div.container div.right {
    height: auto;
  }
  #subscribe div.container div.right input {
    font-size: 10px;
  }
  #subscribe div.container div.right button {
    font-size: 10px;
    padding: 10px;
  }
  #subscribe div.container div.right button div.arrow {
    width: 20px;
  }
  footer {
    padding: 50px 0 20px 0;
  }
  footer div.top div.top-left {
    width: 30%;
  }
  footer div.top div.top-left div.logo span {
    font-size: 12px;
  }
  footer div.top div.top-left p {
    font-size: 10px;
    width: 90%;
  }
  footer div.top ul.top-right {
    width: 60%;
    gap: 20px;
  }
  footer div.top ul.top-right li h5 {
    font-size: 12px;
  }
  footer div.top ul.top-right li a {
    font-size: 10px;
  }
  footer div.bottom p {
    font-size: 10px;
  }
}
@media all and (max-width: 480px) {
  header div.header-top h1.left {
    width: 50px;
  }
  header div.header-top nav.right {
    display: none;
  }
  header div.header-top div#menu-icon {
    display: block;
    width: 30px;
  }
  header div#menu {
    padding: 80px;
  }
  header div#menu.active {
    padding: 80px 0 0 0;
  }
  header div#menu a {
    font-size: 13px;
  }
  header div#menu button.login-button {
    font-size: 13px;
  }
  #spotlight {
    padding: 80px 0 0 0;
  }
  #spotlight div.top {
    flex-direction: column-reverse;
    align-items: center;
    gap: 80px;
  }
  #spotlight div.top div.top-left {
    width: 100%;
    align-items: center;
    gap: 20px;
  }
  #spotlight div.top div.top-left span {
    gap: 5px;
  }
  #spotlight div.top div.top-left span div.icon {
    width: 15px;
    margin-bottom: 2px;
  }
  #spotlight div.top div.top-left span p {
    font-size: 12px;
  }
  #spotlight div.top div.top-left h2 {
    font-size: 25px;
    text-align: center;
  }
  #spotlight div.top div.top-left p {
    font-size: 12px;
    text-align: center;
  }
  #spotlight div.top div.top-left div.input-container {
    width: 70%;
    padding: 10px;
  }
  #spotlight div.top div.top-left div.input-container input {
    font-size: 12px;
  }
  #spotlight div.top div.top-left div.input-container button {
    padding: 10px;
    font-size: 12px;
  }
  #spotlight div.top div.top-right {
    width: 75%;
  }
  #spotlight div.top div.top-right div.spotlight-image {
    width: 120px;
  }
  #spotlight div.top div.top-right div.spotlight-image.middle {
    transform: translateY(35px);
  }
  #spotlight div.top div.top-right div.spotlight-image img {
    border-radius: 10px;
  }
  #spotlight div.bottom {
    padding: 50px 0;
    gap: 20px;
    justify-content: space-between;
  }
  #spotlight div.bottom h5 {
    font-size: 9px;
    width: 95%;
  }
  #spotlight div.bottom ul {
    gap: 15px;
    flex-wrap: wrap;
    width: 140%;
  }
  #spotlight div.bottom ul li {
    width: 70px;
  }
  #achieve {
    padding: 40px 0;
  }
  #achieve .wrapper div.left {
    width: 25%;
    gap: 10px;
  }
  #achieve .wrapper div.left h5 {
    font-size: 10px;
  }
  #achieve .wrapper div.left h3 {
    font-size: 15px;
  }
  #achieve .wrapper div.middle {
    width: 35%;
  }
  #achieve .wrapper div.middle div.image {
    width: 50px;
    padding: 10px;
  }
  #achieve .wrapper div.middle div.text {
    gap: 5px;
  }
  #achieve .wrapper div.middle div.text h4 {
    font-size: 13px;
  }
  #achieve .wrapper div.middle div.text p {
    font-size: 8px;
  }
  #achieve .wrapper div.right {
    width: 35%;
  }
  #achieve .wrapper div.right div.image {
    width: 50px;
    padding: 10px;
  }
  #achieve .wrapper div.right div.text {
    gap: 5px;
  }
  #achieve .wrapper div.right div.text h4 {
    font-size: 13px;
  }
  #achieve .wrapper div.right div.text p {
    font-size: 8px;
  }
  #help {
    padding: 50px 0;
    gap: 30px;
  }
  #help div.top h2 {
    font-size: 25px;
  }
  #help div.top p {
    font-size: 8px;
  }
  #help ul.middle {
    gap: 10px;
    flex-wrap: wrap;
  }
  #help ul.middle li {
    width: 50%;
    padding: 30px 10px;
  }
  #help ul.middle li div.icon {
    width: 60px;
    padding: 15px;
  }
  #help ul.middle li h5 {
    font-size: 15px;
  }
  #help ul.middle li p {
    font-size: 10px;
    width: 90%;
  }
  #help div.bottom button {
    padding: 10px 20px;
    font-size: 11px;
  }
  #schedule {
    padding: 50px 0;
    gap: 50px;
  }
  #schedule div.right {
    gap: 15px;
  }
  #schedule div.right h6 {
    font-size: 10px;
  }
  #schedule div.right h4 {
    font-size: 15px;
    width: 90%;
    margin-bottom: 10px;
  }
  #schedule div.right p {
    font-size: 10px;
    width: 90%;
    margin-bottom: 10px;
  }
  #schedule div.right div.learn-more span {
    font-size: 10px;
  }
  #schedule div.right div.learn-more div.icon {
    width: 15px;
  }
  #monitor {
    padding: 50px 0;
    padding: 50px 0;
    gap: 50px;
  }
  #monitor div.left {
    gap: 15px;
  }
  #monitor div.left h6 {
    font-size: 10px;
  }
  #monitor div.left h4 {
    font-size: 15px;
    width: 90%;
    margin-bottom: 10px;
  }
  #monitor div.left p {
    font-size: 10px;
    width: 90%;
    margin-bottom: 10px;
  }
  #monitor div.left div.learn-more span {
    font-size: 10px;
  }
  #monitor div.left div.learn-more div.icon {
    width: 15px;
  }
  #pricing {
    padding: 50px 0;
  }
  #pricing div.price-container {
    width: 70%;
  }
  #pricing div.price-container h4 {
    font-size: 20px;
  }
  #pricing div.price-container div.top {
    display: flex;
    justify-content: space-between;
    width: 60%;
  }
  #pricing div.price-container div.top div.price-details h6 {
    font-size: 13px;
  }
  #pricing div.price-container div.top div.price-details h4 {
    font-size: 15px;
    color: #020331;
    font-family: "Gordita Bold";
  }
  #pricing div.price-container div.bottom h5 {
    font-size: 12px;
  }
  #pricing div.price-container div.bottom div.price-slider {
    height: 10px;
  }
  #pricing div.price-container div.bottom div.price-slider div.price-slider-circle {
    height: 10px;
    width: 10px;
  }
  #pricing div.pricing-input-container {
    width: 65%;
    padding: 5px 5px 5px 10px;
    bottom: 15px;
    right: 40px;
  }
  #pricing div.pricing-input-container input {
    font-size: 9px;
  }
  #pricing div.pricing-input-container button {
    padding: 12px 24px;
    font-size: 10px;
  }
  #service {
    padding: 50px 0;
  }
  #service div.left h1 {
    font-size: 20px;
    width: 90%;
  }
  #service div.left p {
    font-size: 9px;
    width: 90%;
  }
  #service div.left button {
    padding: 10px 20px;
    font-size: 12px;
    width: 160px;
  }
  #service div.left div.details div.details-icon {
    width: 25px;
    height: 25px;
  }
  #service div.left div.details span {
    font-size: 10px;
  }
  #service ul.right li {
    width: 48%;
    margin-bottom: 25px;
    gap: 15px;
  }
  #service ul.right li div.icon {
    width: 25px;
  }
  #service ul.right li h6 {
    font-size: 13px;
  }
  #service ul.right li p {
    font-size: 9px;
    width: 100%;
  }
  #service ul.right li a {
    font-size: 10px;
  }
  #testimonials div.top h3 {
    font-size: 20px;
  }
  #testimonials div.top h6 {
    font-size: 10px;
  }
  #testimonials ul.bottom {
    flex-direction: column-reverse;
    gap: 30px;
  }
  #testimonials ul.bottom li {
    width: 50%;
  }
  #testimonials ul.bottom li div.profile {
    width: 40%;
  }
  #testimonials ul.bottom li ul.starbox {
    gap: 5px;
  }
  #testimonials ul.bottom li ul.starbox li.star {
    width: 10px;
  }
  #testimonials ul.bottom li h6 {
    font-size: 15px;
  }
  #testimonials ul.bottom li p {
    font-size: 10px;
  }
  #subscribe {
    padding: 50px 5%;
  }
  #subscribe div.container {
    padding: 10% 5%;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #subscribe div.container div.left h4 {
    font-size: 17px;
  }
  #subscribe div.container div.left h6 {
    font-size: 12px;
  }
  #subscribe div.container div.right {
    height: auto;
    width: auto;
  }
  #subscribe div.container div.right input {
    font-size: 12px;
  }
  #subscribe div.container div.right button {
    font-size: 12px;
    padding: 10px;
  }
  #subscribe div.container div.right button div.arrow {
    width: 20px;
  }
  footer {
    padding: 50px 0 0px 0;
  }
  footer div.top {
    margin-bottom: 20px;
  }
  footer div.top div.top-left {
    width: 30%;
    gap: 10px;
  }
  footer div.top div.top-left div.logo span {
    font-size: 12px;
  }
  footer div.top div.top-left p {
    font-size: 10px;
    width: 90%;
  }
  footer div.top ul.top-right {
    width: 70%;
    gap: 10px;
  }
  footer div.top ul.top-right li {
    gap: 10px;
  }
  footer div.top ul.top-right li h5 {
    font-size: 12px;
  }
  footer div.top ul.top-right li a {
    font-size: 10px;
  }
  footer div.bottom p {
    font-size: 10px;
  }
}
@media all and (max-width: 360px) {
  header div.header-top h1.left {
    width: 50px;
  }
  header div.header-top nav.right {
    display: none;
  }
  header div.header-top div#menu-icon {
    display: block;
    width: 30px;
  }
  header div#menu {
    padding: 80px;
  }
  header div#menu.active {
    padding: 80px 0 0 0;
  }
  header div#menu a {
    font-size: 13px;
  }
  header div#menu button.login-button {
    font-size: 13px;
  }
  #spotlight {
    padding: 80px 0 0 0;
  }
  #spotlight div.top {
    flex-direction: column-reverse;
    align-items: center;
    gap: 80px;
  }
  #spotlight div.top div.top-left {
    width: 100%;
    align-items: center;
    gap: 20px;
  }
  #spotlight div.top div.top-left span {
    gap: 5px;
  }
  #spotlight div.top div.top-left span div.icon {
    width: 15px;
    margin-bottom: 2px;
  }
  #spotlight div.top div.top-left span p {
    font-size: 12px;
  }
  #spotlight div.top div.top-left h2 {
    font-size: 25px;
    text-align: center;
  }
  #spotlight div.top div.top-left p {
    font-size: 12px;
    text-align: center;
  }
  #spotlight div.top div.top-left div.input-container {
    width: 70%;
    padding: 5px 5px 5px 10px;
  }
  #spotlight div.top div.top-left div.input-container input {
    font-size: 10px;
    width: 40%;
  }
  #spotlight div.top div.top-left div.input-container button {
    padding: 10px;
    font-size: 10px;
  }
  #spotlight div.top div.top-right {
    width: 75%;
  }
  #spotlight div.top div.top-right div.spotlight-image {
    width: 120px;
  }
  #spotlight div.top div.top-right div.spotlight-image.middle {
    transform: translateY(35px);
  }
  #spotlight div.top div.top-right div.spotlight-image img {
    border-radius: 10px;
  }
  #spotlight div.bottom {
    padding: 50px 0;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  #spotlight div.bottom h5 {
    font-size: 10px;
    width: 60%;
    text-align: center;
  }
  #spotlight div.bottom ul {
    gap: 15px;
    flex-wrap: wrap;
    width: 90%;
    align-items: center;
    justify-content: center;
  }
  #spotlight div.bottom ul li {
    width: 50px;
  }
  #achieve {
    padding: 40px 0;
  }
  #achieve .wrapper {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  #achieve .wrapper div.left {
    width: 80%;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  #achieve .wrapper div.left h5 {
    font-size: 10px;
  }
  #achieve .wrapper div.left h3 {
    font-size: 15px;
    text-align: center;
  }
  #achieve .wrapper div.middle {
    width: 45%;
  }
  #achieve .wrapper div.middle div.image {
    width: 80px;
    padding: 10px;
  }
  #achieve .wrapper div.middle div.text {
    gap: 5px;
  }
  #achieve .wrapper div.middle div.text h4 {
    font-size: 11px;
  }
  #achieve .wrapper div.middle div.text p {
    font-size: 8px;
  }
  #achieve .wrapper div.right {
    width: 45%;
  }
  #achieve .wrapper div.right div.image {
    width: 80px;
    padding: 10px;
  }
  #achieve .wrapper div.right div.text {
    gap: 5px;
  }
  #achieve .wrapper div.right div.text h4 {
    font-size: 11px;
  }
  #achieve .wrapper div.right div.text p {
    font-size: 8px;
  }
  #help {
    padding: 50px 0;
    gap: 20px;
  }
  #help div.top h2 {
    font-size: 20px;
  }
  #help div.top p {
    font-size: 8px;
  }
  #help ul.middle {
    gap: 10px;
    flex-wrap: wrap;
  }
  #help ul.middle li {
    width: 70%;
    padding: 30px 10px;
  }
  #help ul.middle li div.icon {
    width: 60px;
    padding: 15px;
  }
  #help ul.middle li h5 {
    font-size: 15px;
  }
  #help ul.middle li p {
    font-size: 10px;
    width: 90%;
  }
  #help div.bottom button {
    padding: 10px 20px;
    font-size: 11px;
  }
  #schedule {
    padding: 20px 0;
    gap: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #schedule div.right {
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    width: 80%;
  }
  #schedule div.right h6 {
    font-size: 10px;
  }
  #schedule div.right h4 {
    font-size: 15px;
    width: 90%;
    margin-bottom: 10px;
  }
  #schedule div.right p {
    font-size: 10px;
    width: 90%;
    margin-bottom: 10px;
  }
  #schedule div.right div.learn-more span {
    font-size: 10px;
  }
  #schedule div.right div.learn-more div.icon {
    width: 15px;
  }
  #monitor {
    padding: 20px 0;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  #monitor div.left {
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    width: 80%;
  }
  #monitor div.left h6 {
    font-size: 10px;
  }
  #monitor div.left h4 {
    font-size: 15px;
    width: 90%;
    margin-bottom: 10px;
  }
  #monitor div.left p {
    font-size: 10px;
    width: 90%;
    margin-bottom: 10px;
  }
  #monitor div.left div.learn-more span {
    font-size: 10px;
  }
  #monitor div.left div.learn-more div.icon {
    width: 15px;
  }
  #pricing {
    padding: 50px 0;
  }
  #pricing div.price-container {
    width: 75%;
    justify-content: center;
    align-items: center;
  }
  #pricing div.price-container h4 {
    font-size: 18px;
  }
  #pricing div.price-container div.top {
    display: flex;
    justify-content: center;
    width: 60%;
    gap: 20px;
  }
  #pricing div.price-container div.top div.price-details h6 {
    font-size: 10px;
  }
  #pricing div.price-container div.top div.price-details h4 {
    font-size: 12px;
    color: #020331;
    font-family: "Gordita Bold";
  }
  #pricing div.price-container div.bottom h5 {
    font-size: 12px;
  }
  #pricing div.price-container div.bottom div.price-slider {
    height: 10px;
  }
  #pricing div.price-container div.bottom div.price-slider div.price-slider-circle {
    height: 10px;
    width: 10px;
  }
  #pricing div.pricing-input-container {
    width: 65%;
    padding: 5px 5px 5px 10px;
    bottom: 30px;
    right: 20px;
  }
  #pricing div.pricing-input-container input {
    font-size: 9px;
  }
  #pricing div.pricing-input-container button {
    padding: 12px 24px;
    font-size: 10px;
  }
  #service {
    padding: 50px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    text-align: center;
  }
  #service div.left {
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  #service div.left h1 {
    font-size: 20px;
    width: 100%;
  }
  #service div.left p {
    font-size: 9px;
    width: 90%;
  }
  #service div.left button {
    padding: 10px 20px;
    font-size: 12px;
    width: 160px;
  }
  #service div.left div.details div.details-icon {
    width: 25px;
    height: 25px;
  }
  #service div.left div.details span {
    font-size: 10px;
  }
  #service ul.right {
    width: 100%;
  }
  #service ul.right li {
    width: 45%;
    margin-bottom: 25px;
    gap: 15px;
    align-items: center;
  }
  #service ul.right li div.icon {
    width: 25px;
  }
  #service ul.right li h6 {
    font-size: 13px;
  }
  #service ul.right li p {
    font-size: 9px;
    width: 100%;
  }
  #service ul.right li a {
    font-size: 10px;
  }
  #testimonials div.top h3 {
    font-size: 20px;
  }
  #testimonials div.top h6 {
    font-size: 10px;
  }
  #testimonials ul.bottom {
    flex-direction: column-reverse;
    gap: 30px;
  }
  #testimonials ul.bottom li {
    width: 80%;
  }
  #testimonials ul.bottom li div.profile {
    width: 40%;
  }
  #testimonials ul.bottom li ul.starbox {
    gap: 5px;
  }
  #testimonials ul.bottom li ul.starbox li.star {
    width: 10px;
  }
  #testimonials ul.bottom li h6 {
    font-size: 15px;
  }
  #testimonials ul.bottom li p {
    font-size: 10px;
  }
  #subscribe {
    padding: 50px 5%;
  }
  #subscribe div.container {
    padding: 10% 5%;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #subscribe div.container div.left h4 {
    font-size: 15px;
  }
  #subscribe div.container div.left h6 {
    font-size: 10px;
  }
  #subscribe div.container div.right {
    height: auto;
    width: auto;
  }
  #subscribe div.container div.right input {
    font-size: 10px;
  }
  #subscribe div.container div.right button {
    font-size: 10px;
    padding: 10px;
  }
  #subscribe div.container div.right button div.arrow {
    width: 20px;
  }
  footer {
    padding: 50px 0 0px 0;
  }
  footer div.top {
    margin-bottom: 20px;
  }
  footer div.top div.top-left {
    width: 40%;
    gap: 10px;
  }
  footer div.top div.top-left div.logo span {
    font-size: 12px;
  }
  footer div.top div.top-left p {
    font-size: 10px;
    width: 100%;
  }
  footer div.top ul.top-right {
    width: 50%;
    gap: 10px;
    flex-wrap: wrap;
  }
  footer div.top ul.top-right li {
    gap: 10px;
    width: 45%;
  }
  footer div.top ul.top-right li h5 {
    font-size: 12px;
  }
  footer div.top ul.top-right li a {
    font-size: 10px;
  }
  footer div.bottom p {
    font-size: 10px;
  }
}
@media all and (max-width: 320px) {
  header div.header-top h1.left {
    width: 50px;
  }
  header div.header-top nav.right {
    display: none;
  }
  header div.header-top div#menu-icon {
    display: block;
    width: 30px;
  }
  header div#menu {
    padding: 80px;
  }
  header div#menu.active {
    padding: 80px 0 0 0;
  }
  header div#menu a {
    font-size: 13px;
  }
  header div#menu button.login-button {
    font-size: 13px;
  }
  #spotlight {
    padding: 80px 0 0 0;
  }
  #spotlight div.top {
    flex-direction: column-reverse;
    align-items: center;
    gap: 80px;
  }
  #spotlight div.top div.top-left {
    width: 100%;
    align-items: center;
    gap: 20px;
  }
  #spotlight div.top div.top-left span {
    gap: 5px;
  }
  #spotlight div.top div.top-left span div.icon {
    width: 15px;
    margin-bottom: 2px;
  }
  #spotlight div.top div.top-left span p {
    font-size: 12px;
  }
  #spotlight div.top div.top-left h2 {
    font-size: 25px;
    text-align: center;
  }
  #spotlight div.top div.top-left p {
    font-size: 12px;
    text-align: center;
  }
  #spotlight div.top div.top-left div.input-container {
    width: 70%;
    padding: 5px 5px 5px 10px;
  }
  #spotlight div.top div.top-left div.input-container input {
    font-size: 10px;
    width: 40%;
  }
  #spotlight div.top div.top-left div.input-container button {
    padding: 10px;
    font-size: 10px;
  }
  #spotlight div.top div.top-right {
    width: 75%;
  }
  #spotlight div.top div.top-right div.spotlight-image {
    width: 100px;
  }
  #spotlight div.top div.top-right div.spotlight-image.middle {
    transform: translateY(35px);
  }
  #spotlight div.top div.top-right div.spotlight-image img {
    border-radius: 10px;
  }
  #spotlight div.bottom {
    padding: 50px 0;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  #spotlight div.bottom h5 {
    font-size: 10px;
    width: 60%;
    text-align: center;
  }
  #spotlight div.bottom ul {
    gap: 15px;
    flex-wrap: wrap;
    width: 90%;
    align-items: center;
    justify-content: center;
  }
  #spotlight div.bottom ul li {
    width: 50px;
  }
  #achieve {
    padding: 40px 0;
  }
  #achieve .wrapper {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  #achieve .wrapper div.left {
    width: 80%;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  #achieve .wrapper div.left h5 {
    font-size: 10px;
  }
  #achieve .wrapper div.left h3 {
    font-size: 15px;
    text-align: center;
  }
  #achieve .wrapper div.middle {
    width: 45%;
  }
  #achieve .wrapper div.middle div.image {
    width: 80px;
    padding: 10px;
  }
  #achieve .wrapper div.middle div.text {
    gap: 5px;
  }
  #achieve .wrapper div.middle div.text h4 {
    font-size: 11px;
  }
  #achieve .wrapper div.middle div.text p {
    font-size: 8px;
  }
  #achieve .wrapper div.right {
    width: 45%;
  }
  #achieve .wrapper div.right div.image {
    width: 80px;
    padding: 10px;
  }
  #achieve .wrapper div.right div.text {
    gap: 5px;
  }
  #achieve .wrapper div.right div.text h4 {
    font-size: 11px;
  }
  #achieve .wrapper div.right div.text p {
    font-size: 8px;
  }
  #help {
    padding: 50px 0;
    gap: 20px;
  }
  #help div.top h2 {
    font-size: 20px;
  }
  #help div.top p {
    font-size: 8px;
  }
  #help ul.middle {
    gap: 10px;
    flex-wrap: wrap;
  }
  #help ul.middle li {
    width: 70%;
    padding: 30px 10px;
  }
  #help ul.middle li div.icon {
    width: 60px;
    padding: 15px;
  }
  #help ul.middle li h5 {
    font-size: 15px;
  }
  #help ul.middle li p {
    font-size: 10px;
    width: 90%;
  }
  #help div.bottom button {
    padding: 10px 20px;
    font-size: 11px;
  }
  #schedule {
    padding: 20px 0;
    gap: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #schedule div.right {
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    width: 80%;
  }
  #schedule div.right h6 {
    font-size: 10px;
  }
  #schedule div.right h4 {
    font-size: 15px;
    width: 90%;
    margin-bottom: 10px;
  }
  #schedule div.right p {
    font-size: 10px;
    width: 90%;
    margin-bottom: 10px;
  }
  #schedule div.right div.learn-more span {
    font-size: 10px;
  }
  #schedule div.right div.learn-more div.icon {
    width: 15px;
  }
  #monitor {
    padding: 20px 0;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  #monitor div.left {
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    width: 80%;
  }
  #monitor div.left h6 {
    font-size: 10px;
  }
  #monitor div.left h4 {
    font-size: 15px;
    width: 90%;
    margin-bottom: 10px;
  }
  #monitor div.left p {
    font-size: 10px;
    width: 90%;
    margin-bottom: 10px;
  }
  #monitor div.left div.learn-more span {
    font-size: 10px;
  }
  #monitor div.left div.learn-more div.icon {
    width: 15px;
  }
  #pricing {
    padding: 50px 0;
  }
  #pricing div.price-container {
    width: 75%;
    justify-content: center;
    align-items: center;
  }
  #pricing div.price-container h4 {
    font-size: 18px;
  }
  #pricing div.price-container div.top {
    display: flex;
    justify-content: center;
    width: 60%;
    gap: 20px;
  }
  #pricing div.price-container div.top div.price-details h6 {
    font-size: 10px;
  }
  #pricing div.price-container div.top div.price-details h4 {
    font-size: 12px;
    color: #020331;
    font-family: "Gordita Bold";
  }
  #pricing div.price-container div.bottom h5 {
    font-size: 12px;
  }
  #pricing div.price-container div.bottom div.price-slider {
    height: 10px;
  }
  #pricing div.price-container div.bottom div.price-slider div.price-slider-circle {
    height: 10px;
    width: 10px;
  }
  #pricing div.pricing-input-container {
    width: 70%;
    padding: 5px 5px 5px 10px;
    bottom: 30px;
    right: 20px;
  }
  #pricing div.pricing-input-container input {
    font-size: 8px;
  }
  #pricing div.pricing-input-container button {
    padding: 10px 20px;
    font-size: 8px;
  }
  #service {
    padding: 50px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    text-align: center;
  }
  #service div.left {
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  #service div.left h1 {
    font-size: 20px;
    width: 100%;
  }
  #service div.left p {
    font-size: 9px;
    width: 90%;
  }
  #service div.left button {
    padding: 10px 20px;
    font-size: 12px;
    width: 160px;
  }
  #service div.left div.details div.details-icon {
    width: 25px;
    height: 25px;
  }
  #service div.left div.details span {
    font-size: 10px;
  }
  #service ul.right {
    width: 100%;
  }
  #service ul.right li {
    width: 45%;
    margin-bottom: 25px;
    gap: 15px;
    align-items: center;
  }
  #service ul.right li div.icon {
    width: 25px;
  }
  #service ul.right li h6 {
    font-size: 13px;
  }
  #service ul.right li p {
    font-size: 9px;
    width: 100%;
  }
  #service ul.right li a {
    font-size: 10px;
  }
  #testimonials div.top h3 {
    font-size: 20px;
  }
  #testimonials div.top h6 {
    font-size: 10px;
  }
  #testimonials ul.bottom {
    flex-direction: column-reverse;
    gap: 30px;
  }
  #testimonials ul.bottom li {
    width: 80%;
  }
  #testimonials ul.bottom li div.profile {
    width: 40%;
  }
  #testimonials ul.bottom li ul.starbox {
    gap: 5px;
  }
  #testimonials ul.bottom li ul.starbox li.star {
    width: 10px;
  }
  #testimonials ul.bottom li h6 {
    font-size: 15px;
  }
  #testimonials ul.bottom li p {
    font-size: 10px;
  }
  #subscribe {
    padding: 50px 5%;
  }
  #subscribe div.container {
    padding: 10% 5%;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #subscribe div.container div.left h4 {
    font-size: 15px;
  }
  #subscribe div.container div.left h6 {
    font-size: 10px;
  }
  #subscribe div.container div.right {
    height: auto;
    width: auto;
  }
  #subscribe div.container div.right input {
    font-size: 10px;
  }
  #subscribe div.container div.right button {
    font-size: 10px;
    padding: 10px;
  }
  #subscribe div.container div.right button div.arrow {
    width: 20px;
  }
  footer {
    padding: 50px 0 0px 0;
  }
  footer div.top {
    margin-bottom: 20px;
  }
  footer div.top div.top-left {
    width: 40%;
    gap: 10px;
  }
  footer div.top div.top-left div.logo span {
    font-size: 12px;
  }
  footer div.top div.top-left p {
    font-size: 10px;
    width: 100%;
  }
  footer div.top ul.top-right {
    width: 50%;
    gap: 10px;
    flex-wrap: wrap;
  }
  footer div.top ul.top-right li {
    gap: 10px;
    width: 45%;
  }
  footer div.top ul.top-right li h5 {
    font-size: 12px;
  }
  footer div.top ul.top-right li a {
    font-size: 10px;
  }
  footer div.bottom p {
    font-size: 10px;
  }
}/*# sourceMappingURL=style.css.map */