* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

body {
    font-family: "Gordita Regular";
    font-size: 17px;
    color: #0b0a0a;
    overflow-x: hidden;
    min-width: 320px;
    font-weight: 500;
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Gordita Regular";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/gordita/Gordita Regular.woff") format("woff");
}
@font-face {
    font-family: "Gordita Thin";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/gordita/Gordita Thin.woff") format("woff");
}
@font-face {
    font-family: "Gordita Light";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/gordita/Gordita Light.woff") format("woff");
}
@font-face {
    font-family: "Gordita Medium";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/gordita/Gordita Medium.woff") format("woff");
}
@font-face {
    font-family: "Gordita Bold";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/gordita/Gordita Bold.woff") format("woff");
}
@font-face {
    font-family: "Gordita Ultra";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/gordita/Gordita Ultra.woff") format("woff");
}
input,
textarea,
select {
    font-family: "Gordita Regular";
    font-weight: 500;
}

a {
    color: #0b0a0a;
}

p {
    line-height: 1.6em;
    font-size: 16px;
    font-family: "Gordita Regular";
    font-weight: 500;
    color: #0b0a0a;
}

.hidden {
    display: none;
}

br.clear {
    clear: both;
    line-height: 0;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

.flex-wrapper {
    display: flex;
    justify-content: space-between;
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-size: 94px;
}

h2 {
    font-size: 74px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 12px;
}

.no_margin {
    margin-right: 0 !important;
}

// ------------------------ default style ends -----------------------------------------

header {
    div.header-top {
        padding: 15px 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        background: #fff;
        width: 100%;
        z-index: 1;
        max-width: 1500px;
        h1.left {
            width: 80px;
        }
        nav.right {
            display: flex;
            align-items: center;
            gap: 70px;
            a {
                font-family: "Gordita Medium";
                color: grey;
                position: relative;
                &::after {
                    content: "";
                    width: 0;
                    height: 3px;
                    background: #000;
                    position: absolute;
                    left: 0;
                    bottom: -6px;
                    transition: 0.5s;
                }
                &:hover {
                    color: #000;
                    &::after {
                        width: 100%;
                    }
                }
            }
            button.login-button {
                padding: 12px 24px;
                background: #050ee7;
                border-radius: 30px;
                font-family: "Gordita Medium";
                color: #fff;
                font-size: 15px;
                cursor: pointer;
            }
        }
        div#menu-icon {
            display: none;
        }
    }
    div#menu {
        display: none;
        &.active {
            padding-top: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            background: #ffffff10;
        }
        a {
            font-family: "Gordita Medium";
            color: grey;
            position: relative;
            &::after {
                content: "";
                width: 0;
                height: 3px;
                background: #000;
                position: absolute;
                left: 0;
                bottom: -6px;
                transition: 0.5s;
            }
            &:hover {
                color: #000;
                &::after {
                    width: 100%;
                }
            }
        }
        button.login-button {
            padding: 12px 24px;
            background: #050ee7;
            border-radius: 30px;
            font-family: "Gordita Medium";
            color: #fff;
            cursor: pointer;
        }
    }
}

// ------------------------ header style ends -----------------------------------------

#spotlight {
    padding: 200px 0 0 0;
    div.top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        div.top-left {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 40px;
            span {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 15px;
                div.icon {
                    width: 20px;
                }
                p {
                    color: #050ee7;
                    font-family: "Gordita Medium";
                    font-size: 18px;
                }
            }
            h2 {
                font-family: "Gordita Bold";
                font-size: 45px;
                span {
                    color: #050ee7;
                    display: inline-block;
                }
            }
            p {
                font-size: 15px;
                font-family: "Gordita Medium";
                color: #898989;
            }
            div.input-container {
                width: 90%;
                padding: 10px 20px;
                border-radius: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                -webkit-box-shadow: 4px 7px 67px 5px rgba(217, 219, 251, 0.64);
                -moz-box-shadow: 4px 7px 67px 5px rgba(217, 219, 251, 0.64);
                box-shadow: 4px 7px 67px 5px rgba(217, 219, 251, 0.64);
                input {
                    font-family: "Gordita Medium";
                    color: #898989;
                    font-size: 15px;
                }
                button {
                    padding: 15px 30px;
                    background: #050ee7;
                    border-radius: 10px;
                    font-family: "Gordita Medium";
                    color: #fff;
                    font-size: 15px;
                    cursor: pointer;
                }
            }
        }
        div.top-right {
            width: 50%;
            display: flex;
            gap: 10px;
            div.spotlight-image {
                width: 160px;
                &.middle {
                    transform: translateY(80px);
                }
                img {
                    border-radius: 20px;
                }
            }
        }
    }
    div.bottom {
        padding: 80px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h5 {
            font-size: 15px;
            font-family: "Gordita Medium";
            color: #898989;
            padding-top: 10px;
            border-top: 2px solid #898989;
        }
        ul {
            display: flex;
            align-items: center;
            gap: 30px;
            li {
                width: 100px;
            }
        }
    }
}

// ------------------------ #spotlight style ends -----------------------------------------

#achieve {
    background: #f4f5fa;
    padding: 50px 0;
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        div.left {
            width: 28%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            h5 {
                color: #898989;
                font-size: 18px;
                text-transform: uppercase;
                font-family: "Gordita Medium";
            }
            h3 {
                font-size: 30px;
                font-family: "Gordita Bold";
                width: 90%;
            }
        }
        div.middle {
            width: 28%;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 10px;
            div.image {
                width: 100px;
                padding: 20px;
                background: #9747ff;
                border-radius: 50px;
                img {
                    filter: invert(1);
                }
            }
            div.text {
                display: flex;
                flex-direction: column;
                gap: 10px;
                h4 {
                    color: #000;
                    font-size: 20px;
                    font-family: "Gordita Medium";
                }
                p {
                    color: #898989;
                    font-size: 13px;
                    font-family: "Gordita Medium";
                }
            }
        }
        div.right {
            width: 28%;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 10px;
            div.image {
                width: 100px;
                padding: 20px;
                background: #ee2a52;
                border-radius: 50px;
                img {
                    filter: invert(1);
                }
            }
            div.text {
                display: flex;
                flex-direction: column;
                gap: 10px;
                h4 {
                    color: #000;
                    font-size: 20px;
                    font-family: "Gordita Medium";
                }
                p {
                    color: #898989;
                    font-size: 13px;
                    font-family: "Gordita Medium";
                }
            }
        }
    }
}

// ------------------------ #achieve style ends -----------------------------------------

#help {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-align: center;
    div.top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        h2 {
            font-size: 50px;
            font-family: "Gordita Bold";
            width: 80%;
        }
        p {
            color: #898989;
            font-size: 15px;
            font-family: "Gordita Medium";
        }
    }
    ul.middle {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        li {
            background: #f0eeee;
            border-radius: 10px;
            width: 25%;
            text-align: center;
            padding: 50px 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            div.icon {
                width: 80px;
                padding: 20px;
                border-radius: 55px;
            }
            div.search {
                background: #9747ff;
            }
            div.settings {
                background: #ee2a52;
            }
            div.rocket {
                background: #f0d159;
            }
            h5 {
                font-size: 18px;
                font-family: "Gordita Medium";
            }
            p {
                font-size: 13px;
                width: 70%;
                font-family: "Gordita Medium";
                color: #898989;
            }
        }
    }
    div.bottom {
        display: flex;
        justify-content: center;
        button {
            padding: 15px 30px;
            background: #050ee7;
            border-radius: 10px;
            font-family: "Gordita Medium";
            color: #fff;
            font-size: 15px;
            cursor: pointer;
        }
    }
}

// ------------------------ #help style ends -----------------------------------------

#schedule {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    div.left {
        width: 50%;
    }
    div.right {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        h6 {
            color: #ffb15f;
            font-size: 15px;
            font-family: "Gordita Medium";
            text-transform: uppercase;
        }
        h4 {
            font-size: 30px;
            font-family: "Gordita Medium";
            width: 80%;
            margin-bottom: 20px;
        }
        p {
            font-size: 15px;
            font-family: "Gordita Medium";
            color: #898989;
            width: 80%;
            margin-bottom: 20px;
        }
        div.learn-more {
            display: flex;
            align-items: center;
            gap: 10px;
            span {
                font-family: "Gordita Medium";
                color: #050ee7;
            }
            div.icon {
                width: 20px;
            }
        }
    }
}

// ------------------------ #schedule style ends -----------------------------------------

#monitor {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    div.left {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        h6 {
            color: #ffb15f;
            font-size: 15px;
            font-family: "Gordita Medium";
            text-transform: uppercase;
        }
        h4 {
            font-size: 30px;
            font-family: "Gordita Medium";
            width: 80%;
            margin-bottom: 20px;
        }
        p {
            font-size: 15px;
            font-family: "Gordita Medium";
            color: #898989;
            width: 80%;
            margin-bottom: 20px;
        }
        div.learn-more {
            display: flex;
            align-items: center;
            gap: 10px;
            span {
                font-family: "Gordita Medium";
                color: #050ee7;
            }
            div.icon {
                width: 20px;
            }
        }
    }
    div.right {
        width: 50%;
    }
}

// ------------------------ #monitor style ends -----------------------------------------

#pricing {
    background: #e9fbfd;
    padding: 80px 0;
    position: relative;
    div.price-container {
        background: #fff;
        width: 50%;
        padding: 40px 0;
        margin: 0 auto;
        border-radius: 5px;
        h4 {
            font-size: 25px;
            color: #06085f;
            text-align: center;
            font-family: "Gordita Medium";
            margin-bottom: 30px;
        }
        div.top {
            display: flex;
            justify-content: space-between;
            width: 60%;
            margin: 0 auto;
            text-align: center;
            div.price-details {
                h6 {
                    font-size: 15px;
                    color: #898989;
                    font-family: "Gordita Medium";
                    margin-bottom: 10px;
                }
                h4 {
                    font-size: 25px;
                    color: #020331;
                    font-family: "Gordita Bold";
                }
            }
        }
        div.bottom {
            width: 80%;
            margin: 0 auto;
            h5 {
                font-size: 15px;
                color: #898989;
                font-family: "Gordita Medium";
                margin-bottom: 10px;
            }
            div.price-slider {
                background: #020331;
                width: 100%;
                height: 15px;
                border-radius: 10px;
                div.price-slider-circle {
                    background: #fff;
                    height: 16px;
                    width: 16px;
                    border-radius: 50px;
                    margin-left: 150px;
                }
            }
        }
    }
    div.pricing-input-container {
        background-color: #fff;
        box-shadow: 10px 7px 10px #898989;
        width: 40%;
        display: flex;
        justify-content: space-between;
        padding: 10px 15px;
        border-radius: 15px;
        position: absolute;
        bottom: 30px;
        right: 200px;
        input {
            width: 50%;
            border: none;
            font-family: "Gordita Medium";
        }
        button {
            padding: 15px 30px;
            background: #050ee7;
            border-radius: 10px;
            font-family: "Gordita Medium";
            color: #fff;
            font-size: 15px;
            cursor: pointer;
        }
    }
}

// ------------------------ #pricing style ends -----------------------------------------

#service {
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    div.left {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        h1 {
            font-size: 35px;
            width: 80%;
            font-family: "Gordita Medium";
        }
        p {
            font-size: 14px;
            font-family: "Gordita Medium";
            width: 75%;
            color: #898989;
        }
        div.details {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            div.details-icon {
                background: #4d46c7;
                width: 35px;
                height: 35px;
                border-radius: 20px;
                padding: 5px;
                img {
                    filter: invert(1);
                }
            }
            span {
                font-size: 12px;
                color: #898989;
                font-family: "Gordita Medium";
            }
        }
        button {
            padding: 15px 30px;
            background: #050ee7;
            border-radius: 25px;
            font-family: "Gordita Medium";
            color: #fff;
            font-size: 15px;
            cursor: pointer;
            width: 200px;
        }
    }
    ul.right {
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        li {
            width: 50%;
            margin-bottom: 50px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            div.icon {
                width: 55px;
            }
            h6 {
                font-size: 20px;
                font-family: "Gordita Medium";
            }
            p {
                font-size: 15px;
                width: 75%;
            }
            a {
                font-size: 12px;
                font-family: "Gordita Medium";
                color: #9747ff;
                text-transform: uppercase;
            }
        }
    }
}

// ------------------------ #service style ends -----------------------------------------

#testimonials {
    padding: 20px 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    div.top {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        h3 {
            font-size: 34px;
            font-family: "Gordita Medium";
        }
        h6 {
            font-size: 15px;
            margin-bottom: 50px;
        }
    }
    ul.bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            width: 25%;
            div.profile {
                width: 80px;
                img {
                    border-radius: 50px;
                }
            }
            ul.starbox {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                li.star {
                    width: 15px;
                }
            }
            h6 {
                font-size: 20px;
                font-family: "Gordita Medium";
            }
            p {
                font-size: 13px;
                text-align: center;
                color: #898989;
            }
        }
    }
}

// ------------------------ #testimonials style ends -----------------------------------------

#subscribe {
    padding: 100px 80px;
    div.container {
        background: #4d53e5;
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        border-radius: 20px;
        div.left {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            h4 {
                font-family: "Gordita Medium";
                font-size: 30px;
                color: #fff;
            }
            h6 {
                font-size: 15px;
                color: #fff;
                text-align: center;
                width: 70%;
            }
        }
        div.right {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #fff;
            width: 45%;
            height: 50px;
            border-radius: 10px;
            padding-left: 15px;
            input {
            }
            button {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                background: #2fb552;
                padding: 13px 13px 13px 30px;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                color: #fff;
                font-size: 15px;
                gap: 10px;
                div.arrow {
                    width: 25px;
                    background: #fff;
                    border-radius: 5px;
                    padding: 5px;
                }
            }
        }
    }
}

// ------------------------ #subscribe style ends -----------------------------------------

footer {
    background: #f8f8f8;
    padding: 100px 0 20px 0;
    div.top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 50px;
        div.top-left {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 25%;
            div.logo {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 10px;
                a {
                    width: 30px;
                    cursor: pointer;
                }
                span {
                    font-family: "Gordita Medium";
                    font-size: 20px;
                }
            }
            p {
                font-family: "Gordita Medium";
                font-size: 15px;
                color: #898989;
                width: 80%;
            }
        }
        ul.top-right {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 100px;
            li {
                display: flex;
                flex-direction: column;
                gap: 20px;
                h5 {
                    font-family: "Gordita Medium";
                    font-size: 20px;
                }
                a {
                    font-size: 15px;
                    font-family: "Gordita Medium";
                    color: #898988;
                    cursor: pointer;
                }
            }
        }
    }
    div.bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #898989;
        padding-top: 20px;
        p {
            font-size: 15px;
            font-family: "Gordita Medium";
            color: #898988;
        }
    }
}

// ------------------------ footer style ends -----------------------------------------
